.section--devices {
    margin-bottom: 30px;
    padding-bottom: 0;

    background: url("./../img/devices-bg.jpg") center no-repeat;
    background-size: cover;
}

.devices {
    position: relative;

    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    @media (max-width: 576px) {
        max-width: 320px;

        &__item--iphone {
            right: -70px;
            max-width: 180px;
        }
    }

    &__item {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__item--iphone {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: -80px;
    }
}
