.services {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 990px) {
        &__item {
            width: 50%;
            padding-bottom: 0;

            &--border {
                border-bottom: 0;
            }
        }
    }

    @media (max-width: 770px) {
        &__item {
            width: 100%;
        }
    }

    &__item {
        position: relative;

        width: 33.33333%;
        margin: 0 0 30px 0;

        padding: 0 0 30px 80px;

        &--border {
            border-bottom: 1px solid #e5e5e5;
        }
    }

    &__icon {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 10px;
    }

    &__title {
        margin-bottom: 10px;

        font-size: 14px;
        color: $color_black;
        text-transform: uppercase;
    }

    &__text {
        font-size: 15px;
        color: #999999;
    }
}
